//importing fonts from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}

/* NAVIGATION BAR*/
nav{
    background: #39288400;
    height: 14vh;
    position: fixed;
    z-index: 9999;
    width: -webkit-fill-available;
    // display: inline;
    max-height: 100%;
    height: auto;

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        height: 10vh;
        background: white;
        max-height: 100%;
        height: auto;
        
        .left{
            img{
                height: 8vh;
                width: 15vw;
                background-repeat: no-repeat;
                margin: 4.8% 0% 0% 0%;
                max-height: 100%;
                height: auto;

                &:hover{
                    cursor:pointer;
                }
            }
        }

        .middle{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            li{
                list-style: none; 
                margin: 0% 30px 0% 0%;   
                font-size: 1.5vw;  
                font-family: 'Roboto', sans-serif;
                transition: ease-in-out 0.5s;

                a{
                    align-self: flex-start;
                    color: black;
                    font-family: system-ui;
                    font-size: 27px;
                    font-weight: 400;
                    text-decoration: none;

                    &:hover{
                        transition: ease-in-out 0.5s;
                        color: #392884;
                        opacity: 100%;
                        cursor: pointer;
                    }
                }

                &:hover{
                    transition: ease-in-out 0.5s;
                    color: whitesmoke;
                    cursor: pointer;
                }
            }
        }

        .right{
            img{
                margin: 0% 10px 0% 0%;
                width: 3vw;
                transition: ease-in-out 0.5s;

                &:hover{
                    transition: ease-in-out 0.5s;
                    filter: invert(100%);
                    cursor: pointer;
                }
            }

            p{
                font-size: 30px;
            }
        }
    }
}

.whitespace{
    height: 11vh;
}

.section-1{
    height: 61vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 10% 0% 10%;
    max-height: 100%;
    height: auto;

    .left{
        width: min-content;
        padding-right: 1%;

        h1{
            font-size: 130px;
            font-family: monospace;
            font-weight: 500;
            color: #1B1B1B;
            font-family: 'Roboto', sans-serif;
        }
    }

    .right{
        width: 50%;
        margin-left: 12%;

        .right-paragraph{
            font-size: 50px;
            padding-bottom: 50px;

            h4{
                font-size: 35px;
                color: #000000;
            }
        }

        .right-btns{

            display: flex;
            align-items: center;
            justify-content: flex-start;

            a{
                font-size: 25px;
                border: 2.5px solid #020202;
                border-radius: 25px;
                padding: 3.3% 7.1% 3.3% 7.1%;
                font-weight: 500;
                align-self: center;
                transition: ease-in-out 0.5s;
                background: rgba(248, 248, 255, 0.966);
                text-decoration: none;
                color: #1B1B1B;
                margin-right: 50px;
                font-family: sans-serif;
            }
        }
    }
}

.section-1-tablet{
    display: none;
}

.section-1-mobile{
    display: none;
}

.section-2{
    max-height: 100%;
    height: auto;

    .section-2-image-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        max-width: -webkit-fill-available;
        padding-top: 10px;
        margin: 0% 10% 0% 10%;

        img{
            width: -webkit-fill-available;
            height: auto;
        }
    }
}

.section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    margin: 4% 10% 0% 10%;
    max-height: 100%;
    height: auto;

    .left{
        width: -webkit-fill-available;
        padding-right: 1%;

        h1{
            font-size: 100px;
            font-family: monospace;
            font-weight: 500;
            color: #2a2a2a;
            font-family: 'Roboto', sans-serif;
        }
    }

    .right{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: column;

        p{
            font-size: 26px;
            padding-bottom: 15px;
            font-family: system-ui;
            width: 80%;
            padding-left: 25px;
        }

        a{
            color: #392884;
            font-size: 36px;
            text-decoration: none;
            font-family: system-ui;
            padding-left: 25px;
        }
    }
}

.section-3-tablet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    margin: 4% 10% 0% 10%;
    max-height: 100%;
    height: auto;

    .left{
        width: -webkit-fill-available;
        padding-right: 1%;
        align-self: baseline;

        h1{
            font-size: 50px;
            font-weight: 500;
            color: #2a2a2a;
            font-family: 'Roboto', sans-serif;
            width: max-content;
        }
    }

    .right{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: column;

        p{
            font-size: 26px;
            padding-bottom: 15px;
            font-family: 'roboto';
            padding-left: 25px;
            width: fit-content;
        }

        a{
            color: #392884;
            font-size: 30px;
            text-decoration: none;
            font-family: system-ui;
            padding-left: 25px;
        }
    }
}

.article-section{

    width: initial;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    max-height: 100%;
    height: auto;

    h1{
        font-size: 100px;
        font-family: monospace;
        font-weight: 500;
        color: #2a2a2a;
        padding-left: 10%;
        font-family: 'Roboto', sans-serif;
    }

    .article-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px 0px;
        grid-template-areas: ". . .";
        align-self: stretch;

        .image-container{

            max-width: 608px;
            padding-top: 10px;
            margin: 10% 1% 10% 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2{
                font-size: 50px;
                font-family: monospace;
                font-weight: 500;
                color: #2a2a2a;
                padding-top: 5%;
                font-family: 'Roboto', sans-serif;
            }

            img{
                width: -webkit-fill-available;
                height: auto;
            }

        }
        
    }
}

/* Section 4 (Our Community Section) */
.section-4{
    background: linear-gradient(#202020, #00000094), url(/images/campaign-creators-e6n7uoEnYbA-unsplash.jpg);
    height: 59vh;
    background-size:cover;
    min-height: 80%;
    width: -webkit-fill-available;
    max-height: 100%;
    height: auto;

    .sub1-section4{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3{
            font-size: 3vw;
            text-align: center;
            font-family: system-ui;
            font-weight: inherit;
            color: ghostwhite;
            padding: 5% 19% 5% 19%;
        }

        a{
            font-size: 1.15vw;
            border: 2.5px solid #020202;
            border-radius: 25px;
            padding: 1.3% 2.1% 1.3% 2.1%;
            font-family: system-ui;
            font-weight: 500;
            align-self: center;
            transition: ease-in-out 0.5s;
            background: rgba(248, 248, 255, 0.966);
            text-decoration: none;
            color: black;
            margin-bottom: 2.5%;

            &:hover{
                color: whitesmoke;
                background: rgb(7, 7, 7);
                border: 2.5px solid #020202;
                transition: ease-in-out 0.5s;
                cursor: pointer;
            }
        }
    }
}

/* Section 5 (footer) */
.section-5{
    background: #392884;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 25vh;
    max-height: 100%;
    height: auto;

    .sub1-section5{
        display: flex;
        align-items: center;
        justify-content: start;
        height: 32vh;
        flex-flow: column;

        img{
            height: 211px;
            padding: 100px 0% 0% 0%;
        }

        p{
            align-self: flex-start;
            color: aliceblue;
            font-family: system-ui;
            font-size: 27px;
            font-weight: 400;
        }
    }

    .sub2-section5{
        p{
            align-self: flex-start;
            color: aliceblue;
            font-family: system-ui;
            font-size: 27px;
            font-weight: 400;
        }
    }

    .sub3-section5{
        p{
            align-self: flex-start;
            color: aliceblue;
            font-family: system-ui;
            font-size: 27px;
            font-weight: 400;
        }
    }
}

.section-5-mobile{
    display: none;
}

.section-5-tablet{
    display: none;
}

/*Majority of phones and some tablets (ipad Air, ipad mini, surface pro 7) (works when we are vertical and horizontal) (min-height: 440px)*/
@media screen and (max-width:1025px){
    nav{
        .navbar{

            .left{
                img{
                    width: 25vw;
                }
            }

            .middle{
                display: none;
            }

            .right{
                display: none;
            }
        }
    }
}

/*tablet*/
@media screen and (max-width:1024px){

    .section-1{
        display: none;
    }

    .section-1-tablet{
        display: inline;

        .top{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            h1{
                font-size: 10vw;
                padding-left: 3%;
            }

            .emptyspace{
                width: 28vw;
            }
        }

        .bottom{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            h4{
                font-size: 3vw;
                width: -webkit-fill-available;
                margin-left: 5%;
            }

            .right{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: -webkit-fill-available;

                a{
                    font-size: 20px;
                    border: 0.5px solid #020202;
                    border-radius: 25px;
                    font-weight: 500;
                    align-self: center;
                    transition: ease-in-out 0.5s;
                    background: rgba(248, 248, 255, 0.966);
                    text-decoration: none;
                    color: #1B1B1B;
                    margin-right: 50px;
                    font-family: 'roboto';
                    margin-bottom: 10%;
                    padding: 15px 50px 15px 50px;
                    width: -webkit-fill-available;
                    text-align: center;
                }
            }

            
        }

    }

    .section-3{
        display: none;
    }

    .section-3-tablet{
        display: flex;
        flex-direction: row;
    }

    .article-section{

        h1{
            font-size: 9vw;
        }

        .article-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
            padding-right: 5%;

            .image-container{
                max-width: 608px;
                padding-top: 10px;
                margin: 10% 1% 10% 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img{
                    height: auto;
                    max-width: 100%;
                    width: 70vw;
                }

                h2{
                    font-size: 50px;
                }
            }
        }
        
    }

    .section-4{
        .sub1-section4{
           h3{
                font-size: 4.75vw;
           }

           a{
            font-size: 2.15vw;
            border: 2.5px solid #020202;
            border-radius: 25px;
            padding: 1.3% 9.1% 1.3% 9.1%;
            font-family: system-ui;
            font-weight: 500;
           }
        }
    }

    .section-5{
        display: none;
    }

    .section-5-tablet{
        background: #392884;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 25vh;
        max-height: 100%;
        height: auto;

        .left{
            .sub1-section5{
                img{
                    height: 9vh;
                    padding: 9% 0% 0% 25%;
                }
            }
            
            .emptyspace{
                height: 5vh;
            }

            p{
                padding: 1% 0% 0% 25%;
                color: #FFFFFF;
            }

            .emptyspace2{
                height: 4vh;
            }
        }

        .right{
            .sub1-section5{
                display: flex;
                align-items: center;
                justify-content: start;
                height: 32vh;
                flex-flow: column;
        
                img{
                    height: 79px;
                    padding: 11px 0% 0% 0%;
                }
            }

            .right-text{
                color: #FFFFFF;    
                padding-top: 5%;

            }
        }
    }

}

/*mobile*/
@media screen and (max-width:545px){

    nav{
        .navbar{
            height: 7.5vh;
            .left{
                img{
                    width: 35vw;
                }
            }
        }
    }

    .whitespace{
        height: 5vh;
    }

    .section-1{
        display: none;
    }

    .section-1-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;

        a{
            border: 0.5px solid #020202;
            border-radius: 25px;
            font-family: roboto;
            font-weight: 500;
            align-self: center;
            transition: ease-in-out 0.5s;
            background: rgba(248, 248, 255, 0.966);
            text-decoration: none;
            color: #1b1b1b;
            font-size: 18px;
            padding: 15px 50px 15px 50px;
            width: -webkit-fill-available;
            text-align: center;
            margin: 0px 10px 5% 10px;

            &:hover{
                color: whitesmoke;
                background: rgb(7, 7, 7);
                border: 2.5px solid #020202;
                transition: ease-in-out 0.5s;
                cursor: pointer;
            }
        }

        h1{
            font-size: 18vw;
            margin: 10px 10px;
        }

        h4{
            margin: 10px 0px 20px 10px;
        }
    }

    .section-1-tablet{
        display: none;
    }

    .section-2{
        .section-2-image-container{
            img{
                width: 94vw;
                height: 25vh;
            }
        }
    }

    .section-3{
        display: inherit;
        .left{
            h1{
                font-size: 13.5vw;
                font-weight: 500;
                color: #2a2a2a;
                font-family: 'Roboto', sans-serif;
                margin-top: 20%;
            }
        }

        .right{
            p{
                font-size: 5vw;
                padding-left: 0;
                width: fit-content;
            }

            a{
                font-size: 6.5vw;
                font-family: 'Roboto', sans-serif;
                padding-left: 0;
            }
        }
    }

    .section-3-tablet{
        display: none;
    }

    .article-section{
        margin-top: 4vh;

        h1{
            font-size: 13.5vw;
            font-weight: 500;
            color: #2a2a2a;
            font-family: 'Roboto', sans-serif;
        }

        .article-container{
            display: flex;
            flex-direction: column;
            padding-left: 0;

            .image-container{
                margin: 10% 10% 10%;

                h2{
                    font-size: 30px;
                }
            }
        }
    }

    .section-4{
        .sub1-section4{
           h3{
                font-size: 8vw;
           }

           a{
                border: 0.5px solid #020202;
                border-radius: 25px;
                font-family: roboto;
                font-weight: 500;
                padding: 15px 50px 15px 50px;
                font-size: 18px;
                width: -webkit-fill-available;
                text-align: center;
                margin: 0px 10px 5% 10px;
           }
        }
    }

    .section-5{
        display: none;
    }

    .section-5-mobile{
        background: #392884;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        max-height: 40vh;
        height: -webkit-fill-available;

        .sub1-section5{
            display: flex;
            align-items: center;
            justify-content: start;
            height: 32vh;
            flex-flow: column;
            max-height: 40vh;
            height: 40vh;

    
            img{
                height: 79px;
                padding: 11px 0% 0% 0%;
                margin-top: 9%;
            }

            .sub1-2-section5{
                align-self: baseline;
                img{
                    height: 47px;
                    padding: 0px 0px 23px;
                }
            }
        }

        .sub2-section5{
            align-self: baseline;
            padding-bottom: 3%;

            p{
                color: #FFFFFF;
            }

            a{
                color: #d1d1d1;
                text-decoration: none;
            }
        }

        .sub3-section5{
            align-self: baseline;

            p{
                color: #d1d1d1;
            }
        }
        
    }

    .section-5-tablet{
        display: none;
    }
}